.xt-login-modal {
    height: 100vh !important;
    // background-color: rgba(0, 0, 0, 0.3);

    &.at-modal {
        bottom: 0;
    }

    .at-modal__overlay {
        height: 100vh !important;
        bottom: 0;
    }
}