// 角标 左边
.xt-badge-left.ant-badge .ant-scroll-number-custom-component {
    left: 0;
    right: initial;
    transform: translate(-50%, -50%) !important;
    &.xt-badge-text {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background: @orange-6;
        line-height: 25px;
        color: @white;

        >div {
            text-align: center;
        }
    }
}