// 扩展 按钮 颜色 
// <a-button type="yellow"></a-button>
// https://github.com/vueComponent/ant-design-vue/blob/master/components/button/style/mixin.less
.ant-btn {
    &.xt-btn-ghost {
        background-color: transparent
    }
}


.ant-btn-yellow {
    .button-variant-primary(@white, @xt-yellow-6);

    &.xt-btn-ghost {
        background-color: transparent;
        color: @xt-yellow-6;
        border-style: solid;
    }
    border-style: dashed;
}

.ant-btn-link:hover,
.ant-btn-link:focus {
    color: @link-hover-color;
    background-color: transparent;
    border-color: transparent;
}