// 标题
.xt-title {
    &-h1 {
        font-size: 36px;
        font-weight: 400;
        margin: 0;
        &-large {
            font-size: 38px;
        }
    }

    &-h2 {
        margin: 0;
        font-size: 28px;
        font-weight: 400;
    }

    &-h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
    }

    &-h4 {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
    }

    &-h5 {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }

    &-h6 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }
}

.xt-font-size {
    &-sm {
        // 12px
        font-size: @font-size-sm;
    }

    &-base {
        // 14px
        font-size: @font-size-base;
    }

    &-md {
        // 16px
        font-size: @font-size-md;
    }

    &-lg {
        // 18px
        font-size: @font-size-lg;
    }

    &-x {
        font-size: 20px;
    }

    &-xx {
        font-size: 24px;
    }

    &-xl {
        font-size: 28px;
    }

    &-xxl {
        font-size: 32px;
    }
}