@font-face {
  font-family: 'FZLTHJ';
  src: url('/font/FZLTHJ.OTF') format('opentype'),
    url('/font/FZLTHJW.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FZXIYSJ';
  src: url('/font/FZXIYSJ.OTF') format('opentype'),
    url('/font/FZXIYSJW.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// 标题
.xt-title {
  &-h1 {
    font-size: 36px;
    font-weight: 400;
    margin: 0;

    &-large {
      font-size: 38px;
      font-weight: 400;
      margin: 0;
    }
  }

  &-h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
  }

  &-h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
  }

  &-h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }

  &-h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }

  &-h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

.xt-font-family {
  &-FZXIYSK {
    font-family: "FZXIYSK--GBK1-0", "宋体";
  }

  &-FZLTHJW {
    font-family: "FZLTHJW--GB1-0", "微软雅黑";
  }
}

.xt-font-bold {
  font-weight: bold;
}

.xt-font-size {
  &-sm {
    // 12px
    font-size: @font-size-sm;
  }

  &-base {
    // 14px
    font-size: @font-size-base;
  }

  &-md {
    // 16px
    font-size: @font-size-md;
  }

  &-lg {
    // 18px
    font-size: @font-size-lg;
  }

  &-x {
    font-size: 20px;
  }

  &-xx {
    font-size: 24px;
  }

  &-xl {
    font-size: 28px;
  }

  &-xxl {
    font-size: 32px;
  }
}
