@import "./nprogress.less";
@import "./text.less";
@import "./atn-replenish.less";
@import "./button.less";
@import "./scrollbar.less";
@import "./flex.less";
@import "./swiper.less";
@import "./font.less";
@import "./background.less";
@import "./margin.less";
@import "./hover/hover.less";

html {
  // user-select: none;
}

// :root {
//     overflow-y: auto;
//     overflow-x: hidden;
// }

// :root body {
//     position: absolute;
//     width: 100vw;
//     overflow: hidden;
//     height: auto;
//     user-select: none;

//     // &[style*="overflow: hidden;"] {
//     //     height: 100%;
//     // }
// }

img {
  object-fit: revert;
}

// 内容区域
.xt-content {
  padding-top: @padding-lg;
  max-width: @xt-content-width+40px;
  margin: auto;
  padding: 0 20px;

  &-small {
    margin: auto;
    max-width: 660px;
  }
}

.opacity-enter-active {
  transition: all 0.3s 0.2s;
}

.opacity-enter {
  opacity: 0;
}

// 悬浮阴影
.xt-hoverable {
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    position: relative;
    z-index: 1;
    box-shadow: @box-shadow-base;
  }
}

// 悬浮放大
.xt-hoverscale {
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    position: relative;
    z-index: 1;
    transform: scale(1.08);
  }
}
