@import './nprogress.less';
@import './text.less';
@import './tabs.less';
@import './pagination.less';
@import './badge.less';

body {
    user-select: none;
}

img {
    object-fit: cover;
}

// 内容区域
.xt-content {
    padding-top: @padding-lg;
    max-width: @xt-content-width;
    margin: auto;
}
