@import './nprogress.less';
@import './text.less';
@import './tabs.less';
@import './pagination.less';
@import './badge.less';
@import './button.less';
@import './scrollbar.less';
@import './flex.less';


html {
    user-select: none;
}

// :root {
//     overflow-y: auto;
//     overflow-x: hidden;
// }

// :root body {
//     position: absolute;
//     width: 100vw;
//     overflow: hidden;
//     height: auto;
//     user-select: none;

//     // &[style*="overflow: hidden;"] {
//     //     height: 100%;
//     // }
// }

img {
    object-fit: cover;
}

// 内容区域
.xt-content {
    padding-top: @padding-lg;
    max-width: @xt-content-width+40px;
    margin: auto;
    padding: 0 20px;
}

.opacity-enter-active {
    transition: all .5s;
}

.opacity-enter {
    opacity: 0;
}