@xt-tab-cls: ~'xt-tabs';
@circle-padding: 20px;

.@{xt-tab-cls} {

    &-center,
    .ant-tabs {
        text-align: center;
    }

    &-left,
    .ant-tabs {
        text-align: left;
    }

    &-right,
    .ant-tabs {
        text-align: right;
    }

    // 黑色
    &-black {
        .ant-tabs-tab {
            &:hover {
                color: @black;
            }

            &:active {
                color: @black;
            }

            &-active {
                color: @black;
                font-weight: 500;
            }
        }

        .ant-tabs-ink-bar {
            background-color: @black;
        }
    }

    // 圆的
    &-circle {
        padding-bottom: @circle-padding;
        overflow: hidden;

        .ant-tabs-bar {
            margin: 0px;
            padding-bottom: @circle-padding/2;
        }

        .ant-tabs-nav-wrap,
        .ant-tabs-nav-container,
        .ant-tabs-nav-scroll {
            // overflow-y: visible;
            overflow: initial;
        }

        .ant-tabs-ink-bar {
            background-color: transparent;

            &::after {
                content: ' ';
                display: block;
                border-radius: 100%;
                height: @circle-padding;
                width: @circle-padding  !important;
                border: 4px solid #fff;
                box-shadow: 0 7px 7px 2px rgba(14, 5, 10, .05);
                margin: auto;
                background-color: @xt-yellow-6;
                // transform: translateY(@circle-padding/2);
            }

        }
    }

}

.xt-layout-content {
    .ant-tabs-bar {
        background: @layout-body-background;
    }
}

.xt-nuxt-child-tabs {
    width: 131px;

    &.ant-tabs .ant-tabs-left-content {
        margin-top: 0 !important;
    }

    // 始终 只 显示 第一个 tabs
    .ant-tabs-left-content>.ant-tabs-tabpane-inactive.xt-nuxt-child-tabs-active,
    .ant-tabs-right-content>.ant-tabs-tabpane-inactive.xt-nuxt-child-tabs-active {
        height: auto;
        padding: 0 !important;
        overflow: hidden;
        opacity: 1;
        pointer-events: none;
    }

}