.xt-text {
    &-align {
        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }

    &-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &-color {
        &-yellow {
            color: @xt-yellow-6;
        }
    }
}